<a href="https://colab.research.google.com/github/AndrewMelekhov/ColabFiles/blob/main/lab_3_gr_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Структуры данных

## Строки (str)

In [ ]:
s1 = 'abc'
s2 = "ABC"
s3 = '''1
    2
3'''
s4 = """ada
adasd
fsdfs """
s5 = r'123\n \t 456' # сырая строка (для набора пути к файлу, для адреса в Internet)
print(s1)
print(s2)
print(s3)
print(s4)
print(s5)

abc
ABC
1
    2
3
ada
adasd
fsdfs
123\n \t 456

In [ ]:
# экранированные последовательности \
# В Python 3 в строках str используется кодировка Unicode (65536 символов)
s = "\n ' \"\t \'  ABC abc АБВ абв 4697(* \300 \400 \N{Ampersand} & \u4e08"
print(s)

 ' "	 '  ABC abc АБВ абв 4697(* À Ā & & 丈

In [ ]:
# Функции chr и ord (с символами):
print(ord('丈')) # по символу возвращает код
print(chr(20000))  
print(chr(10000))
print(chr(5000))

19976
丠
✐
ᎈ

### Срезы строк

In [ ]:
s = 'abcdefgh'
print(s[0], s[1], s[-1]) # срез с одним параметром s[индекс]
print(len(s))
# print(s[9]) - ошибка

a b h
8

In [ ]:
# s[начало:конец]  # начало <= : < конец
print(s[0:3])
print(s[-3:-1])  # print(s[len(s)-3:len(s)-1])
print(s[:5])
print(s[5:])
print(s[:])
print(s[-100:100])

abc
fg
abcde
fgh
abcdefgh
abcdefgh

In [ ]:
# s[начало:конец:шаг]  # начало <= : < конец
print(s[0:8:2])
print(s[8:0:-2])
print(s[::-1])  # переворот строки

aceg
hfdb
hgfedcba

In [ ]:
# Пример
s = 'Приветмир'
s = s[:6] + ' ' + s[6:] + "!"
print(s)

Привет мир!

### Операции

In [ ]:
# + * % (форматирование)
s = 'abc '
print(s + str(123))
print(5 * s)
print('Число: % 8.3f' % -12.34546)

abc 123
abc abc abc abc abc
Число:  -12.345

### Методы 

https://docs.python.org/3/library/stdtypes.html#string-methods

In [ ]:
s1 = '12312312'
# количество вхождений подстроки
print(s1.count('12')) # Способ 1
print(str.count(s1, '12')) # Способ 2

3
3

In [ ]:
s2 = 'abcABCфЦ'
print(s2.lower())
print(s2.upper())
s3 = 'sin(x)'
print(s3.center(30,'_'))
s4 = ' *_123*__   _'
print(s4.strip(' *_'))

abcabcфц
ABCABCФЦ
____________sin(x)____________
123

In [ ]:
# Поиск
s1 = '12312312'
print(s1.find('312'))
print(s1.find('55'))
# Замены подстроки, удаление
new_s1 = s1.replace('12' , 'AAA')
print(new_s1)
print(s1.replace('12' , '', 1))

2
-1
AAA3AAA3AAA
312312

In [ ]:
# Разбить строку на несколько по разделителям:
s5 = ' asfs  sfgdsf    fdgdf    '
print(s5.split())
print(s5.split(' '))
# Собрать строку из нескольких:
L = ['12', '34', '567']
print(' - '.join(L))

['asfs', 'sfgdsf', 'fdgdf']
['', 'asfs', '', 'sfgdsf', '', '', '', 'fdgdf', '', '', '', '']
12 - 34 - 567

### Форматирование

In [ ]:
print('Число: % 8.3f' % -12.34546)
print('Число: {0:>10.3f}'.format(-12.34546))
print(f'Число:  {-12.34546:10.3f}')
a = 5; n = 10
print(f'Число:  {a ** 2:{n}}')

Число:  -12.345
Число:    -12.345
Число:     -12.345
Число:          25

## Кортежи (tuple)

In [ ]:
# Последовательность ссылок на объекты (неизменяемый тип), 
t1 = (1, 2, 3)
t2 = 4, 5, 6
t3 = () # пустой tuple()
t4 = (7, )  # из 1 элемента 
t5 = (-10, 3.14, 'abc', (5, True) )

In [ ]:
type(t5)

tuple

In [ ]:
# есть: is, not is, in, not in, len, срезы, +, *, сравнения: <, > и т.д. 
# t4[0]  = 10 - не изменяемый
t11 = t1[:2] + (4, 5)
print(t11)

(1, 2, 4, 5)

### Есть 2 метода

In [ ]:
print(t1.count(1))
print(t1.index(1))

1
0

In [ ]:
# Функции из базового пакета:
print(min(t1))
print(max(t1))
print(sum(t1))
t7 = (10, 9, 0)
print(all(t7))
print(any(t7))

1
3
6
False
True

## Списки (list)

In [ ]:
# Последовательность ссылок на объекты (изменяемый тип!!!) 
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l3 = [] # пустой list()
l4 = [7]
l5 = [-10, 3.14, 'abc', [5, True] ]
l6 = list(t1)

In [ ]:
print(type(l6))
print(l6)

<class 'list'>
[1, 2, 3]

### Срезы

In [ ]:
# Все, что было у строк и кортежей работает и у списков.
# Можно добавлять, удалять, изменять:
l1 = [1, 2, 3]
l1[0] = 10 # изменить 1 значение
print(l1)
# изменить срез: L[что меняем] = [на что меняем]
l1[:2] = [55, 66]
print(l1)
# добавить/вставка срез: L[n:n] = [новый список]
l1[3:3] = [-1, -2, -3]
print(l1)
# удаление среза: L[что удаляем] = []
l1[:2] = []
print(l1)

[10, 2, 3]
[55, 66, 3]
[55, 66, 3, -1, -2, -3]
[3, -1, -2, -3]

### Операции

In [ ]:
# есть: is, not is, in, not in, len, срезы, +, *, сравнения: <, >, ==, != <=, >=
l7 = [1, 2, 3] 
l8 = [1, 2, 3]
l9 = l7 
print(l7 == l8)
print(l7 is l8)
print(l7 is l9)
# Операция del
del l7[0]
print(l7)

True
False
True
[2, 3]

### Методы

In [ ]:
l10 = [1, 2, 3, 1, 1] 
print(l10.count(1))
print(l10.index(1))
# Добавления append, insert, extend
# l10.append? # вызвать  help
# help(l10.append) # вызвать  help
l10.append(4)
print(l10)
# Удаление pop, remove
x = l10.pop()
print(x, l10)

3
0
[1, 2, 3, 1, 1, 4]
4 [1, 2, 3, 1, 1]

In [ ]:
# сортировка:
L1 = [1, 2, -3, -10, 15, 26, -65]
L1.sort()
print(L1)
L1.sort(reverse = True)
print(L1)
L1.sort(key = abs)
print(L1)

[-65, -10, -3, 1, 2, 15, 26]
[26, 15, 2, 1, -3, -10, -65]
[1, 2, -3, -10, 15, 26, -65]

## Множества (set)

In [ ]:
s1 = {1, 2, 3, 2, 1}
s2 = {2, 3.4, 'abc', True, (2, 3)} # неизменяемые элементы 
s3 = set() # пустое множество
print(s2)
print(type(s1))

{True, 2, 3.4, (2, 3), 'abc'}
<class 'set'>

In [ ]:
# неупорядоченное множество объектов нет срезов s1[1] - нельзя
# в цикле for можно пройти все элементы (порядок произвольный)
# len, in, not in 
for i in s1:
  print(i)
print('len =', len(s2))
print(1 in s1)

1
2
3
len = 5
True

In [ ]:
# сравнения ==, != (равенство множеств)
# < <= > >= (сравнение подмножеств и надмножеств)
s1 = {3, 2, 1}
s2 = {1, 2, 3}
print(s1 == s2)
print(s1 != s2)
print(s1 < s2)

True
False
False

In [ ]:
# Операции: | объединени, & пересечение, ^ объединение без пересечений, - разность
s1 = {3, 2, 1}
s2 = {4, 5, 3}
print(s1 | s2)
print(s1 & s2)
print(s1 ^ s2)
print(s1 - s2)

{1, 2, 3, 4, 5}
{3}
{1, 2, 4, 5}
{1, 2}

In [ ]:
# методы clear - очистить? copy - копию
s1.add(12)
print(s1)
s1.discard(3)
print(s1)
s3 = s1.union(s2) # s1, s2 - не меняет, создает новое множество s3 (s1 | s2)
print(s3)
s1.update(s2) # меняет s1   (s1 = s1 | s2)
print(s1)
# Проверки
print(s1.isdisjoint(s2), s1, s2) # True, если не пересекаются

{1, 2, 3, 12}
{1, 2, 12}
{1, 2, 3, 4, 5, 12}
{1, 2, 3, 4, 5, 12}
False {1, 2, 3, 4, 5, 12} {3, 4, 5}

## Словари (dict)

In [ ]:
# словарь = {ключ1: значенние1, ключ2: значенние2, ...}
d1 = {1: 'abc', 52: 'абв', 300: ''}
print(d1.get(1, 0)) # пример разреженного массива
d2 = {'ID': 123, 'name':'Вася', 'marks': [5,4,5]} # ключ - неизменяемый типб, значения - любые
print(d2)
print(type(d1))

abc
{'ID': 123, 'name': 'Вася', 'marks': [5, 4, 5]}
<class 'dict'>

In [ ]:
# Обращение через ключи:
print(d2['ID'])
# print(d2['Вася']) - обращение по ключам
d2['ID'] = 456 # изменение
d2['age'] = 19 # добавление
del d2['marks'] # удаление
print(d2)

123
{'ID': 456, 'name': 'Вася', 'age': 19}

In [ ]:
# in, not in, len, ==, !=
print('age' in d2)
print('marks' in d2)

True
False

In [ ]:
# методы clear, copy
print(d2.get('ID'))
print(d2.get('marks', 0)) # Если ключа нет, то вернет 0
d2.pop('age')
d2.pop('marks', 0)
print(d2)

456
0
{'ID': 456, 'name': 'Вася'}

In [ ]:
# словарь с циклом for (items, keys, values)
for i in d2:
  print(i, d2[i])
for i in d2.values():
  print(i)

ID 456
name Вася
456
Вася

# Задание №5
Напишите программу, которая запрашивает с ввода восемь чисел, добавляет их в список. <br>На экран выводит их сумму, максимальное и минимальное из них. <br> Для нахождения суммы, максимума и минимума воспользуйтесь встроенными в Python функциями sum(), max() и min().

In [ ]:
# Код начинается здесь ...
# 1. Напишите программу, которая запрашивает с ввода восемь чисел, добавляет их в список.
L5 = [] # создаем пустой список (list)
for i in range(8):
  a = int(input('a = '))
  L5.append(a)
print(L5)
# 2. На экран выводит их сумму, максимальное и минимальное из них.
# Для нахождения суммы, максимума и минимума воспользуйтесь встроенными 
# в Python функциями sum(), max() и min().
print('sum = ', sum(L5))
print('max = ', max(L5))
print('min = ', min(L5))

a = 1
a = 2
a = 3
a = 4
a = 5
a = 6
a = 7
a = 8
[1, 2, 3, 4, 5, 6, 7, 8]
sum =  36
max =  8
min =  1

# Задание №6
В заданном списке, состоящем из положительных и отрицательных чисел, посчитайте количество отрицательных элементов. Выведите результат на экран.
```
a = [-1, 3, 9, -6, 12, 3, 0, -18, 4]
```

In [ ]:
a = [-1, 3, 9, -6, 12, 3, 0, -18, 4]

In [ ]:
# Код начинается здесь ...
counter = 0
for i in a:
  if i < 0 : counter = counter + 1
print(counter)

3

# Задание №7
Напишите программу, которая генерирует сто случайных целочисленных значений в диапазоне от 1 до 200 и заполняет ими список.
Выводит получившийся список на экран по десять элементов в ряд. 
Далее сортирует список с помощью метода sort() и снова выводит его на экран по десять элементов в строке, также необходимо избавиться от повторяющихся значений. Для вывода списка напишите отдельную функцию, в качестве аргумента она должна принимать список.

In [ ]:
# Код начинается здесь ...
# 2.  Выводит получившийся список на экран по десять элементов в ряд.
# Для вывода списка напишите отдельную функцию, в качестве аргумента она должна принимать список.
def print_list(L):
  for i in range(len(L)):
    print(f'{L[i]:3d}', end = ' ')  # доделать!!!
    if (i + 1) % 10 == 0: print()
  print()


def delete1(L):
  resL = [L[0]]
  for i in range(1, len(L)):
     if L[i-1] != L[i]: resL.append(L[i])
  return resL

# 1. Напишите программу, которая генерирует сто случайных целочисленных 
# значений в диапазоне от 1 до 200 и заполняет ими список.
import random
random.seed(27)
L7 = [] # создаем пустой список (list)
for i in range(100):
  L7.append(random.randint(1, 200))

print_list(L7)
# Способ 2. Убрать повторы с помощью множеств
L7 = list(set(L7))
# Далее сортирует список с помощью метода sort() 
# и снова выводит его на экран по десять элементов в строке
L7.sort()
print('Список отсортирован:')
print_list(L7)
# Способ 1. Также необходимо избавиться от повторяющихся значений.
L7d = delete1(L7) 
print('Удалили дубликаты:')
print_list(L7d)

167 123 180  71  74  51  19  17  66 139
 86  65  96 104  47  64  62 126  19 187
164 147 168  21 157 109 199 107 190  14
169 113  90   4 165 123  65  36 157  87
157 167  59 181 135  37  26 101 193  78
192  10 199 175 136  22  44 118 182  39
 68 139  14  45 167   4 116 200  39  89
147 148 107  17  79 113 120  91   4  93
 41  68  46 124  92 133  16 133  64  44
 54 196 189 126 143  24  86  87 196  15

Список отсортирован:
  4  10  14  15  16  17  19  21  22  24
 26  36  37  39  41  44  45  46  47  51
 54  59  62  64  65  66  68  71  74  78
 79  86  87  89  90  91  92  93  96 101
104 107 109 113 116 118 120 123 124 126
133 135 136 139 143 147 148 157 164 165
167 168 169 175 180 181 182 187 189 190
192 193 196 199 200
Удалили дубликаты:
  4  10  14  15  16  17  19  21  22  24
 26  36  37  39  41  44  45  46  47  51
 54  59  62  64  65  66  68  71  74  78
 79  86  87  89  90  91  92  93  96 101
104 107 109 113 116 118 120 123 124 126
133 135 136 139 143 147 148 157 164 165
167 168 169 175 180 181 182 187 189 190
192 193 196 199 200